RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^login$ pages/login.php
RewriteRule ^logout$ pages/logout.php
RewriteRule ^viewdashboard$ pages/dashboard.php
RewriteRule ^subscrit$ pages/subscription.php
RewriteRule ^listpupils/(.*)/(.*)/(.*)$ controllers/TaskPupils.php?depart=$1&year=$2&object=$3
RewriteRule ^viewpupils$ pages/viewpupils.php
RewriteRule ^listpupils$ controllers/TaskPupils.php
RewriteRule ^listpayments$ controllers/TaskPayment.php
RewriteRule ^addpayment$ controllers/TaskPayment.php
RewriteRule ^loadslices$ controllers/TaskPayment.php
RewriteRule ^getpayments$ controllers/TaskPayment.php
RewriteRule ^listyears$ controllers/TaskPupils.php
RewriteRule ^payments$ pages/payments.php
RewriteRule ^reportings-pay$ pages/reportingPay.php
RewriteRule ^md5$ controllers/md5.php
RewriteRule ^layoutinvoice$ controllers/pdf.php
RewriteRule ^invoice$ controllers/TaskPayment.php?invoice
RewriteRule ^layoutinvoice$ controllers/pdf.php
RewriteRule ^sessionvar$ pages/session.php
